/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
.tabBar {
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  height: 80px;

  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;

    &__item {
      display: flex;
      cursor: pointer;
      align-items: center;
      margin-right: 1rem;
    }
    &__item:hover {
      color: #c2947a;
    }
  }

  &__user {
    display: flex;
    flex: 0.3;
    flex-direction: row;
    align-items: center;
    &__icon {
      flex: 1;
      font-size: 2rem;
    }
    &__signIn {
      flex: 1;
      cursor: pointer;
    }
  }
}
