/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/

@import "../../mixin.scss";

.userPage {
  strong {
    color: black;
    margin-right: 5px;
  }
  &__noMargin {
    margin-bottom: 5px !important;
  }
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: auto;

  &__change {
    margin-top: 15%;
    display: inline-block;
    border: 1px $border-color solid;
    background-color: $sub-color;
    color: $dark-gray;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  &__notice {
    display: inline-block;
    padding-top: 50px;
    padding-left: 10%;
    position: fixed;
    z-index: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    box-sizing: border-box;
    background-color: ghostwhite;

    @media screen and (max-width: 900px) {
      display: none;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }

    &__content {
      padding-top: 40px;
      @media screen and (max-width: 900px) {
        display: none;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }

      &-loader {
        margin-top: 2.5rem;
        margin-left: 4.5rem;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
      }

      &__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        color: $dark-gray;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &__name {
          margin-top: 1rem;
        }

        &__info {
          margin-top: 1rem;
          font-weight: bold;
          color: black;
        }

        &__notice {
          margin-left: 5px;
          margin-right: 5px;
          font-weight: bold;
          color: black;

          &-name {
            margin-right: 4px;
            font-weight: bold;
            color: black;
          }
        }

        &__list {
          padding-top: 10px;
          display: flex;
          flex-direction: row;
          font-size: 13px;
          cursor: pointer;

          &:hover {
            background-color: ghostwhite;
          }

          &__bar {
            width: 4px;
            background-color: $sub-color;
            margin-right: 7px;

            &-comment {
              background-color: $main-color;
            }
          }
        }

        &__more {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding-bottom: 5px;
          font-size: 13px;
          -webkit-transition: height 2s;
          transition: height 2s;

          &__text {
            cursor: pointer;
            @include transition(0.3s);
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }

  &__feed {
    display: inline-table;
    width: 40%;
    padding: 0 2rem;
    height: 100vh;
    margin-left: 30%;
    padding-top: 50px;
    padding-bottom: 10rem;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: ghostwhite;

    @media screen and (max-width: 900px) {
      overflow-y: scroll;
      margin-left: 0;
      width: 100vw;
      display: inline-flex;
    }
    @media screen and (max-width: 600px) {
      overflow-y: scroll;
      margin-left: 0;
      width: 100vw;
      display: inline-flex;
    }

    &__userinfo {
      display: none;
      padding-top: 40px;
      box-sizing: border-box;
      background-color: ghostwhite;
      @media screen and (max-width: 900px) {
        display: inline-table;
      }

      &__wrapper {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 70px;
        background-color: white;
        display: flex;

        &-thumb {
          align-content: center;
        }

        &__text {
          padding-left: 20px;

          &-info {
            margin-top: 0.7rem;
            font-weight: bold;
            color: black;
          }
        }
      }
    }

    &__content {
      padding-top: 20px;
      @media screen and (max-width: 900px) {
        padding-top: 3px;
      }

      &-loading {
        margin-top: 1rem;
        padding-left: 5px;
        text-align: center;
        background-color: white;
      }

      &__inputArea {
        padding-top: 30px;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;

        &__body {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 10px;

          &__thumbArea {
            &__thumb {
              font-size: 2rem;
              display: inline-flex;
              width: 50px;
              height: 50px;
              justify-content: center;
              align-items: center;
              box-sizing: border-box;
              border-radius: 50%;
              border: 1px rgba(0, 0, 0, 0.2) solid;
              color: $sub-color;
            }
          }

          &__input {
            margin-right: 20px;
            margin-left: 20px;
            color: $dark-gray;
            font-size: 1rem;
            width: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
            word-break: break-all;
            border: none;
            &:focus {
              outline: none;
            }
          }
        }

        &__footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          &__camera {
            &__icon {
              font-size: 1.6rem;
              color: $dark-gray;
              &:hover {
                @include transition(0.3s);
                color: $sub-color;
                cursor: pointer;
              }
            }
          }

          &__postArea {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &__postButton {
              background-color: $sub-color;
              color: $dark-gray;
              font-weight: 300;
              margin-left: 10px;
              padding-left: 10px;
              padding-top: 3px;
              padding-bottom: 3px;
              display: inline-flex;
              padding-right: 10px;
              cursor: pointer;
              &:hover {
                @include transition(0.3s);
                color: white;
              }
            }
          }
        }
      }

      &__post {
        padding-top: 10px;
        background-color: white;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;

        &__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          &__userInfo {
            display: flex;
            flex-direction: row;

            &__nameArea {
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              justify-content: center;

              &__name {
                color: $dark-gray;
              }

              &__time {
                color: $dark-gray;
                font-size: 12px;
                color: $gray;
              }
            }
          }

          &__option {
            &__icon {
              font-size: 1.5rem;
            }
          }
        }
        &__body {
          padding-top: 15px;
          padding-bottom: 15px;
          display: flex;
          flex-direction: column;

          &__imageArea {
            margin-top: 10px;
            &__image {
              width: 100%;
            }
          }

          &__text {
            color: $dark-gray;
          }
        }

        &__footer {
          &__wrapper {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            &__likeArea {
              flex: 1;
              border-right: 1px solid $border-color;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;

              &__count {
                color: $sub-color;
                margin-right: 5px;
              }

              &__icon {
                color: $dark-gray;
                font-size: 20px;
              }
            }

            &__commentArea {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;

              &__count {
                color: $dark-gray;
                margin-right: 5px;
              }

              &__icon {
                color: $dark-gray;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  &__filter {
    display: inline-block;
    padding-top: 50px;
    padding-right: 5%;
    position: fixed;
    z-index: 0;
    right: 0;
    width: 30%;
    // padding-right: 10%;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;

    // @media screen and (max-width: 900px) {
    //   width: 200px;
    // }

    @media screen and (max-width: 900px) {
      display: none;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95vh;
    }

    &__content {
      margin-right: 2rem;
      padding-left: 20px;
      background-color: white; // border-radius: 10px;
      &__title {
        &__text {
          color: $dark-gray;
          font-weight: 300;
        }
      }

      &__editor {
        &__label {
          color: $dark-gray;
          margin-bottom: 1rem;
        }

        &__title {
          color: black;
          font-weight: 500;
          margin-top: 1rem;
          cursor: pointer;
        }

        &__detail {
          margin-top: 1px;
          color: $dark-gray;
          font-weight: 300;
          font-size: 13px;
        }
      }

      &__label {
        &__text {
          color: $dark-gray;
          font-weight: 300;
          margin-bottom: 1rem;
        }
      }
      &__items {
        &__item {
          display: inline-block;
          border: 1px $border-color solid;
          color: $dark-gray;
          font-weight: 300;
          padding: 5px 10px 5px 10px;
          margin-right: 10px;
          cursor: pointer;
          margin-bottom: 15px;
          &:hover {
            @include transition(0.3s);
            border: 1px $dark-gray solid;
          }
          &-clicked {
            @include transition(0.3s);
            display: inline-block;
            border: 1px solid transparent !important;
            color: $dark-gray;
            padding: 5px 10px 5px 10px;
            margin-right: 10px;
            cursor: pointer;
            font-weight: 300;
            margin-bottom: 15px;
            background-color: $sub-color;
          }
        }
      }
    }
  }
}
