/*
* Author: @nayunhwan (github.com/nayunhwan)
* Email: nayunhwan.dev@mgail.com
*/
.landingPage {
  background-color: ghostwhite;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &__welcome {
    padding-top: 150px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    &__info {
      &-signUp {
        cursor: pointer;
        border-bottom: 1px solid black;
        @media screen and (max-width: 600px) {
          font-size: 120%;
        }
      }
      & h1 {
        @media screen and (max-width: 600px) {
          font-size: 1.5rem;
          padding: 0 25px;
        }
        font-size: 2rem;
      }
      & h2 {
        @media screen and (max-width: 600px) {
          font-size: 0.85rem;
          padding: 0 25px;
        }
        margin-top: 15px;
        font-size: 1.15rem;
      }
    }

    &__signin {
      display: flex;
      flex-direction: column;

      &__container {
        background-color: white;
        box-shadow: 0px 5px 7px #d5d5d5;
        padding: 45px 60px;
        @media screen and (max-width: 600px) {
          margin: 20px 30px;
          padding: 25px 40px;
        }

        &__blank {
          @media screen and (max-width: 600px) {
            margin-left: -15px;
          }
        }

        &__btn {
          display: flex;
          justify-content: flex-end;
          margin-top: 30px;

          & button {
            width: 110px;
            padding: 4px 0;
            border: none;
            background-color: $sub-color;

            &:hover {
              cursor: pointer;
            }
            &:disabled {
              opacity: 0.7;
              cursor: default;
            }
          }
        }
      }

      &__help {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        margin-right: 5px;
        font-size: 0.9rem;
        color: #a6a6a6;

        @media screen and (max-width: 600px) {
          margin: 0 40px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__about {
    padding: 20px 10px;
    background-color: $sub-color;
  }
}
